.header {
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 10px;
    background-color: #fff;
}