*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    display: inherit;
}

.appWrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas:
            'header header'
            'nav content';
    width: 1200px;
    margin: 0 auto;
}
.appWrapperContent {
    background: #099898;
    grid-area: content;
}








